.container {
  width: 160mm;
  margin-left: 60px;
  font-family: Arial, sans-serif;
  font-size: 3.5mm;
}

.personalDetailsSection {
  display: flex;
  margin-bottom: 5mm;
}

.labelColumn {
  width: 50mm;
  padding-top: 5mm;
}

.inputColumn {
  flex-grow: 1;
  margin-top: 8mm;
}

.inputGroup {
  margin-bottom: 2mm;
}

.inputLabel {
  display: block;
  margin-bottom: 1mm;
}

.inputField {
  width: 50mm;
  height: 5mm;
  border: 0.5mm solid #3399ff;
  font-size: 3.5mm;
  border-radius: 1mm;
  padding: 0 1mm;
}


.errorInput {
  border-color: red;
}

.error {
  color: red;
  font-size: 3mm;
  margin-top: 1mm;
  display: block;
}

.foodOptions {
  display: flex;
  align-items: center;
  gap: 5mm;
  margin-top: 4mm;
  font-size: 3.5mm;
}

.foodOptions p {
  margin: 0;
  white-space: nowrap;
}

.foodOptions label {
  margin-right: 3mm;
  display: flex;
  align-items: center;
  gap: 1mm;
}

.foodOptions input[type="checkbox"] {
  width: 4mm;
  height: 4mm;
  border: 0.5mm solid blue;
  accent-color: blue; /* makes the checkbox tick mark blue in supported browsers */
}

button {
  padding: 4mm 10mm;
  background-color: #3399ff;
  color: white;
  font-size: 4mm;
  border: none;
  border-radius: 1mm;
  cursor: pointer;
  margin-left: 100mm;
}

button:hover {
  background-color: #007acc;
}

.ratingSection {
  margin-top: 8mm;
  font-size: 3.5mm;
}
.ratingSection p {
  font-size: 4mm;
  max-width: 200%;
  margin-bottom: 4mm;
}


.ratingTable {
  width: 250mm;
  border-collapse: collapse;
  font-size: 3.5mm;
  margin-top: 4mm;
}

.ratingTable th,
.ratingTable td {
  border: 0.3mm solid #ccc;
  padding: 2mm;
  text-align: center;
}

.ratingHeader th {
  background-color: #e0e0e0; /* light gray background */
}

.statementCell {
  text-align: left;
}
